body{
    margin: 0;
}
nav{

    display: flex;
    justify-content: space-between;
}

nav ul {
   display: flex;
   list-style: none;
   gap: 1.5rem;
}
nav a {
    text-decoration: none;
    color:rgb(253, 253, 253);
}
header {
    background-color: black;
    color: #ffec43;
}
.hero{
    display: flex;
    align-items: center;
    background-color: #ffffff;
}